}

.PROMOSI {
background: rgba(144,91,0,1) !important;
background: -moz-linear-gradient(top, rgba(144,91,0,1) 0%, rgba(200,175,113,1) 50%, rgba(144,91,0,1) 100%) !important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(144,91,0,1)), color-stop(50%, rgba(200,175,113,1)), color-stop(100%, rgba(144,91,0,1))) !important;
background: -webkit-linear-gradient(top, rgba(144,91,0,1) 0%, rgba(200,175,113,1) 50%, rgba(144,91,0,1) 100%) !important;
background: -o-linear-gradient(top, rgba(144,91,0,1) 0%, rgba(200,175,113,1) 50%, rgba(144,91,0,1) 100%) !important;
background: -ms-linear-gradient(top, rgba(144,91,0,1) 0%, rgba(200,175,113,1) 50%, rgba(144,91,0,1) 100%) !important;
background: linear-gradient(to bottom, rgba(144,91,0,1) 0%, rgba(200,175,113,1) 50%, rgba(144,91,0,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#905b00', endColorstr='#905b00', GradientType=0 ) !important;
}
